$fg-color: #cf0a2c;
$text-color: #ffffff;
$bg-color: #131313;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: $bg-color;
}

h1 {
    font-family: "Bungee";
    font-weight: bold;
    color: $fg-color;
}

.rails {
    padding: 0 30vw;
}

.vertical_padded {
    padding-top: 100px;
    padding-bottom: 100px;
}

#main_content {
    font-family: "Sen", sans-serif;
    background-color: $bg-color;
}

#navbar {
    background-color: $fg-color;
    color: $text-color;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    .item {
        display: flex;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: bold;
        height: 100%;
        transition: background-color .5s;
        &:hover {
            background-color: adjust-color($fg-color, $lightness: -15%);
        }
        &.active {
            background-color: adjust-color($fg-color, $lightness: 10%);
        }
    }

    #logo_container {
        height: 100%;
        width: 100px;
        position: relative;
        box-sizing: border-box;
        padding: 12px;
        #logo_content {
            // so the position: absolute elements respect paddin
            position: relative;
            height: 100%;
            img {
                max-height: 100%;
                opacity: 1;
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                transition: opacity .3s, width .3s, height .3s;
                
                &.hidden {
                    opacity: 0;
                    margin: none;
                    padding: none;
                    
                }
            }
        }
    }
}

#title_card {
    height: 100vh - 7vh;
    position: relative;
    #center_content {
        position: absolute;
        padding-top: 5%;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50%;
        text-align: center;
        
        #title_image {
            max-width: 70%;
        }
    }

    #subtitle {
        color: $text-color;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 40px;
        text-shadow: -2px -2px 0 #333333, 2px -2px 0 #333333, -2px 2px 0 #333333, 2px 2px 0 #333333;
    }
}

#slideshow {
    position: relative;
    width: 100%;
    height: 100%;
    img {
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: opacity 1s;
        &.visible {
            opacity: 1;
        }
    }
}

#about {
    p {
        color: white;
        font-size: 20px;
    }
}

#process {
    background-color: #ffffff;
    text-align: center;
    h1 {
        margin-bottom: 50px;
    }
    #engineering_design_animation {
        width: 100%;
    }
}

#engineering_design_table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5vw;
    overflow-x: hidden;
    .item {
        flex: 1 1 0px;
        padding: 30px;
        // border: #777777 solid 1px;
        border-radius: 10px;
        box-shadow: 0 0 15px 5px #0000002D;
        margin: 20px;
        text-align: center;

        h2 {
            font-weight: bold;
            font-family: inherit;
            font-size: 30px;
            color: #000000;
        }

        .circle {
            border-radius: 10em;
            background-color: $bg-color;
            width: 60px;
            height: 60px;
            position: relative;
            margin: 0 auto;
            img {
                width: 40px;
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }
    }
    
    .break {
        flex-basis: 100%;
        height: 0;
    }
}

.collapsible {
    .handle {
        
    }
}

#teams {
    text-align: center;
    color: $text-color;
    h1 {
        margin: 20px 0 50px 0;
    }
}

#teams-library {
    text-align: center;
    padding: 50px 10vw;
    transition: height .5s;

    &.hidden {
        height: 0;
        padding: 0;
        overflow-y: hidden;
    }
}

.team_icon {
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    margin: 25px;
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .gear_outline {
        z-index: 2;
        transition: transform .3s;
    }
    .identifier_container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        p {
            font-size: 100px;
            z-index: 1;
            font-family: "Bungee", sans-serif;
            font-weight: bold;
            color: #111111;
        }
    }

    &:hover {
        .gear_outline {
            transform: rotate(22.5deg);
        }
    }
}

#team-info {
    background-color: $fg-color;
    color: $text-color;
    height: auto;
    padding: 50px 30vw;
    margin-top: 50px;
    transition: height .5s, padding .5s;
    &.hidden {
        height: 0px;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }
    h1 {
        color: $text-color;
    }
}